	body{
				margin: 0;
    			padding: 0;
    			border: 0;
			}
			table{
				width:100%;
				border: 1px solid yellow;
			}
			td.a{
				width:300px;
  				border-right: 40px solid yellow;
  				border-top:0px;
  				padding: 35px;
			}
td.b {
				width:300px;
  				border-right: 40px solid yellow;
  				border-top:0px;
  				padding: 35px;
			}

td.c {
				width:300px;
  				border-right: 40px solid yellow;
  				border-top:0px;
  				padding: 35px;
			}
			td.d{
				width:300px;
				border-top:0px;
				padding: 35px;
			}
			div.ribbon{
				position: absolute;          
  				top: 0;                      
  				transform: rotate(-45deg);   
  				transform-origin: 50% 250%;    
  				width: 5em;
                text-align: center;          
  				padding: 0 0;
  				border: 1px solid yellow;           
  				background: yellow;
			}
			div.start{
				background-color: #F0F8FF;
			}
			@media screen and (max-width: 600px) {
				.container{
					background-color: yellow;
				}
	            .carousel-inner{
	            	background-color: white;
	            	border:2px solid yellow;
	                width:auto;
	            }
	            .item{
	                width:auto;
	            }
				.indicator{
				background-color: yellow;
				width:100%;
				margin: 0px;
				padding: 0px;
				}
                .ribbon{
				position: absolute;          
  				top: 0;                      
  				transform: rotate(-45deg);   
  				transform-origin: 50% 250%;    
  				width: 5em;
                text-align: center;          
  				padding: 0 0;
  				border: 1px solid yellow;           
  				background: yellow;
				}
        	}
